<div class="{{section_meta.class}}">
  <fieldset class="fieldset-no-divider">
    <div ng-if="section_meta.marketing_icons != ''" class="marketing-icons">
      <i ng-repeat="icon in section_meta.marketing_icons" class="{{icon}}"></i>
    </div>
    <legend>{{section_meta.legend}}</legend>
    <table class="detail-table">
      <tr ng-repeat="row in section_meta.rows">
        <th class="table-label label">{{row.label}}</th>
        <td class="table-data">{{record[row.record]}}</td>
      </tr>
    </table>
  </fieldset>
</div>