// ----------------
// Action pane Filter tab
// ----------------

.filter-pane {
  .filter-header h3 {
    margin-top: 0;
    color: $white;
  }
}
.filter-pane__filter-wrapper {
  position: relative;
  padding: $spacing-medium $spacing-large;
  border-bottom: 1px solid lighten($p700, 7%);
  md-checkbox {
    margin: 0;
  }
  &:after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid darken($p700, 5%);
  }
  .clear-toggle {
    position: absolute;
    top: $spacing-medium;
    right: $spacing-large;
    width: 18px;
    height: 18px;
    img {
      width: 100%;
    }
  }
  md-input-container {
    height: $md-input-height-small;
    margin: 0;
  }
}

// ----------------
// Categories filter
// ----------------

.filter-categories.filter-pane__filter-wrapper {
  padding-right: 0;
  .filter-row-wrapper .filter-row.accordion {
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: $spacing-medium;
  }
  .filter-rows-wrapper {
    max-height: 400px;
    margin-right: 1px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .filter-row-wrapper {
    padding: 0;
    padding-right: $spacing-medium;
  }
  .filter-pane-header {
    height: 30px;
    width: 100%;
  }
}
