<div class="detail-main product-detail columns twelve">
    <h2>Dimensions & Weights</h2>
    <div class="detail-data">
        <div section="dimensions-weights" formfield="case_length"></div>
        <div section="dimensions-weights" formfield="case_width"></div>
        <div section="dimensions-weights" formfield="case_height"></div>
        <div section="dimensions-weights" formfield="case_cube" ng-init="nopermission=true"></div>
        <div section="dimensions-weights" formfield="pack_length"></div>
        <div section="dimensions-weights" formfield="pack_width"></div>
        <div section="dimensions-weights" formfield="pack_height"></div>
        <div section="dimensions-weights" formfield="cube_length"></div>
        <div section="dimensions-weights" formfield="cube_width"></div>
        <div section="dimensions-weights" formfield="cube_height"></div>
        <div section="dimensions-weights" formfield="case_weight"></div>
        <div section="dimensions-weights" formfield="case_weight_uom"></div>
        <div section="dimensions-weights" formfield="case_net_weight"></div>
        <div section="dimensions-weights" formfield="case_net_weight_uom"></div>
        <div section="dimensions-weights" formfield="random_weight"></div>
        <div section="dimensions-weights" formfield="tie"></div>
        <div section="dimensions-weights" formfield="high"></div>
        <div section="dimensions-weights" formfield="pallet_height"></div>
        <div section="dimensions-weights" formfield="pallet_weight"></div>
        <div section="dimensions-weights" formfield="item_size"></div>
        <div section="dimensions-weights" formfield="item_size_uom"></div>
        <div section="dimensions-weights" formfield="item_weight"></div>
        <div section="dimensions-weights" formfield="item_weight_uom"></div>
    </div>
 </div>
