<div class="detail-main product-detail columns twelve">
    <h2>Item Master Basics</h2>
    <div class="detail-data">
        <div section="item-master-basics" formfield="manufacturer_part_number"></div>
        <div section="item-master-basics" formfield="item_description"></div>
        <div section="item-master-basics" formfield="item_description_2"></div>
        <div section="item-master-basics" formfield="case_pack"></div>
        <div section="item-master-basics" formfield="inner_case_pack"></div>
        <div section="item-master-basics" formfield="master_case_pack"></div>
        <div section="item-master-basics" formfield="activity_state"></div>
        <div section="item-master-basics" formfield="activity_date"></div>
        <div section="item-master-basics" formfield="manufacturing_method"></div>
        <div section="item-master-basics" formfield="material_cost_type"></div>
        <div section="item-master-basics" formfield="category"></div>
        <div section="item-master-basics" formfield="stocking_uom"></div>
        <div section="item-master-basics" formfield="upc_code_macola"></div>
        <!-- TODO: UPC Code - Macola - Provide a drop down which gives the user a choice to use the UPC Product/Unit, Inner UPC or the Master Case UPC.(hayli to make sure the choices match the field names. -->
    </div>
 </div>
