<div class="detail-main product-detail columns twelve">
    <h2>Shelf Life Information</h2>
    <div class="detail-data">
        <div section="shelf-life-info" formfield="serial_lot"></div>
        <div section="shelf-life-info" formfield="shelf_life_days"></div>
        <div section="shelf-life-info" formfield="type_of_code_life_dating"></div>
        <div section="shelf-life-info" formfield="open_code_life_dating"></div>
        <div section="shelf-life-info" formfield="closed_code_life_dating"></div>
        <div section="shelf-life-info" formfield="warranty_days" ng-init="nopermission=true"></div>
        <div section="shelf-life-info" formfield="guaranteed_shelf_life" ng-init="nopermission=true"></div>
    </div>
 </div>
