// ----------------
// Listing pane (middle pane)
// ----------------

// General content pane styling
#pane-listing {
  padding: 0;
  background: $white;
  border-right: 1px solid $g400;
  .pane-header {
    height: $middle-pane-header-height;
    padding: $spacing-small;
  }
  .pane-content {
    overflow: hidden;
    #listing { // Fix lazyloading -- the rendered markup here is weird, but this works
      @include scroll-full-height(0px, 0px, $middle-pane-header-height);
      width: 102%;
    }
  }
}
.pane-listing__content__wrapper {
  // Fix strange content covering scrollbar bug
  width: calc(100% - 1px);
}

// Listing sort filters
.listing-menu {
  float: left;
  width: 100%;
  ul {
    @extend %clearfix;
    @extend %ul-reset;
  }
  .listing-menu__primary, .listing-menu__secondary {
    float: left;
    clear: both;
  }
  .listing-menu__primary li {
    float: left;
    margin-right: $spacing-medium;
  }
  md-select {
    // Make this select shorter than default so it will fit better
    height: 20px;
    margin-top: 0;
    font-size: $font-size-base;
    md-select-label {
      padding-top: 0;
    }
  }
  .listing-menu__secondary a {
    @extend %secondary-link-color;
  }
}
// Listing view mode filters
.listing-view-menu {
  float: right;
  margin-bottom: $spacing-medium;
  ul {
    @extend %ul-reset;
  }
  li {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: $spacing-xsmall;
    font-size: 0px;
    background-size: cover;
    background-position: -18px;
    cursor: pointer;
    &.selected {
      background-position: 0;
    }
  }
  .listview {
    background-image: url('../images/list-view-button.png');
  }
  .detailview {
    background-image: url('../images/detail.png');
  }
  .thumbnailview {
    background-image: url('../images/grid-view-button.png');
  }
}
// Listing result count
.listing-result-count {
  float: right;
  clear: right;

  color: $white;
}
// Listing result info and progress bar
.listing-result-info {
  width: 100%;
  padding: $spacing-large;
  text-align: center;
  .listing-result-info__progress-bar {
    width: 100%;
    height: 30px;
    padding: 0px;
    margin: -2px 0px 0px 0px;
    overflow: hidden;
    text-align: center;
  }
}
