<legend>{{formatImageTitle(image_type)}} Image</legend>

<section ng-hide="image_data.filename" class="twelve columns">
  <!-- Left detail column -->
  <section class="detail-main-left six columns">
    <!-- Upload image form -->
    <form class="image-form image-form-upload">
      <section class="field-image-upload field-file-upload">
        <label>Upload Image</label>
        <input type="file" id="{{record[meta[view].identifier] + '_' + image_type}}_image">
        <md-button ng-click="uploadAsset({ident: record[meta[view].identifier], type: image_type, use_modal:true})" class="button-upload button-text-only">Upload</md-button>
        <img class="upload-marquee" ng-show="uploadStarted" src="/sites/all/angularjs_apps/unfiDigitalCoreApp/images/marquee.gif">
        <md-input-container>
          <label>Alt Text</label>
          <input resource="assets" identifier="{{image_data.fid}}" type="text" record="alt" ng-model="image_data.alt">
        </md-input-container>
        <md-checkbox resource="assets" identifier="{{image_data.fid}}" record="internal_only" validator="always" ng-model="image_data.internal_only">Internal Only
        </md-checkbox>
      </section>
    </form>
  </section>
</section>

<section ng-show="image_data.filename" class="twelve columns">
  <!-- Left detail column -->
  <section class="detail-main-left six columns">
    <!-- Update image form -->
    <form class="image-form image-form-update detail-meta">
      <header>
        <div class="image-form__image-wrapper">
          <img ng-src="{{record.image_urls[image_type].renditions.thumbnail}}" class="detail-image">
        </div>
        <div class="image-form__meta-wrapper">
          <md-select ng-model="asset_models.rendition" ng-change="downloadAssetFile(image_data.fid, asset_models.rendition)" class="field-image-style-select button-icon button-download">
            <md-option value="original">Original Asset</md-option>
            <md-option value="thumbnail">Thumbnail</md-option>
            <md-option value="large">Large</md-option>
            <md-option value="medium">Medium</md-option>
          </md-select>
          <a class="button-delete button-icon clickable" ng-click="modal('delete-asset-confirm', record[meta[view].identifier], image.fid)">Remove Image</a>
          <ul class="meta-wrapper__meta-data">
            <li>{{ image_data.filename }}</li>
            <li ng-repeat="descriptor in meta[view].detail_pane.images.descriptors">{{image_data | records: descriptor.field:descriptor}}</li>
          </ul>
        </div>
      </header>
      <section class="field-image-upload field-file-upload">
          <label>Update Image</label>
          <input type="file" id="{{record[meta[view].identifier] + '_' + image_type}}_image">
          <md-button ng-click="uploadAsset({ident: record[meta[view].identifier], type: image_type, use_modal:true})" class="button-upload button-text-only">Upload</md-button>
          <img class="upload-marquee" ng-show="uploadStarted" src="/sites/all/angularjs_apps/unfiDigitalCoreApp/images/marquee.gif">
          <md-input-container>
            <label>Alt Text</label>
            <input resource="assets" identifier="{{image_data.fid}}" type="text" record="alt" ng-model="image_data.alt">
          </md-input-container>
          <md-checkbox resource="assets" identifier="{{image_data.fid}}" record="internal_only" validator="always" ng-model="image_data.internal_only">Internal Only
          </md-checkbox>
      </section>
    </form>
  </section>
  <!-- Right detail column -->
  <section ng-show="image_data.filename" class="detail-main-right six columns">
    <!-- File detail table -->
    <section class="detail-data">
      <div class="asset-detail-title">
        <header>
          <label>File Name</label>
          <h1>{{image_data.filename}}</h1>
        </header>
      </div>
      <table class="detail-table">
        <tbody>
          <tr ng-repeat="descriptor in meta[view].detail_pane.images.descriptors" >
            <th class="table-label">{{descriptor.label}}</th>
            <td class="table-data">{{image_data | records: descriptor.field:descriptor}}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </section>
</section>
