<div class="detail-main certification-detail columns twelve">
    <h2>Product Certifications</h2>
    <div class="detail-data">
        <div section="certification" formfield="non_gmo"></div>
        <div section="certification" formfield="certified_vegan"></div>
        <div section="certification" formfield="gluten_free_certificate"></div>
        <div section="certification" formfield="gluten_free"></div>
        <div section="certification" formfield="whole_grain_council"></div>
        <div section="certification" formfield="certified_humane"></div>
        <div section="certification" formfield="fair_trade_certificate"></div>
        <div section="certification" formfield="alaska_seafood_cert"></div>
        <div section="certification" formfield="marine_stewardship_cert"></div>
        <div section="certification" formfield="marine_stewardship_agency"></div>
        <div section="certification" formfield="organic_certificate"></div>
        <div section="certification" formfield="organic_certifier"></div>
        <div section="certification" formfield="kosher_certificate"></div>
        <div section="certification" formfield="kosher_certifying_agency"></div>
        <div section="certification" formfield="third_party_certificates"></div>
    </div>
</div>
