<div class="detail-main identifiers-detail columns twelve">
    <h2>Product Identifiers</h2>
    <div class="detail-data">
        <div section="identifiers" formfield="brand"></div>
        <div section="identifiers" formfield="title"></div>
        <div section="identifiers" formfield="upc"></div>
        <div section="identifiers" formfield="gtin"></div>
        <div section="identifiers" formfield="inner_pack_upc"></div>
        <div section="identifiers" formfield="inner_pack_gtin"></div>
        <div section="identifiers" formfield="case_upc"></div>
        <div section="identifiers" formfield="case_gtin"></div>
        <div section="identifiers" formfield="unfi_east_id"></div>
        <div section="identifiers" formfield="unfi_west_id"></div>
        <div section="identifiers" formfield="item_num"></div>
    </div>
 </div>
