<div class="detail-main product-detail columns twelve">
    <h2>Location & Freight</h2>
    <div class="detail-data">
        <div section="location-freight" formfield="primary_location"></div>
        <div section="location-freight" formfield="grocery_type"></div>
        <div section="location-freight" formfield="east_fob_location"></div>
        <div section="location-freight" formfield="west_fob_location"></div>
        <div section="location-freight" formfield="po_req_fg"></div>
        <div section="location-freight" formfield="freight_protection_level"></div>
        <div section="location-freight" formfield="freight_protection_from"></div>
        <div section="location-freight" formfield="enrobed_in_chocolate_"></div>
    </div>
 </div>
