<div class="detail-main product-detail columns twelve">
    <h2>Macola Only Values</h2>
    <div class="detail-data">
        <div formfield="taxable" ng-init="nopermission=true"></div>
        <div formfield="controlled" ng-init="nopermission=true"></div>
        <div formfield="inv_transaction_audit" ng-init="nopermission=true"></div>
        <div formfield="stocked" ng-init="nopermission=true"></div>
        <div formfield="cost_end_date" ng-init="nopermission=true"></div>
        <div formfield="purchasing_uom" ng-init="nopermission=true;record.purchasing_uom=record.stocking_uom"></div>
        <div formfield="price_uom" ng-init="nopermission=true;record.price_uom=record.stocking_uom"></div>
        <div formfield="manufacturing_uom" ng-init="nopermission=true;record.manufacturing_uom=record.stocking_uom"></div>
        <div formfield="price_basis_code" ng-init="nopermission=true"></div>
        <div formfield="contract_number" ng-init="nopermission=true"></div>
        <div formfield="pur_or_mfg" ng-init="nopermission=true"></div>
        <div formfield="backorderable" ng-init="nopermission=true"></div>
        <div formfield="warranty_days" ng-init="nopermission=true"></div>
    </div>
</div>
