<div id="nutritional" class="detail-main row">
  <section class="nutrition-facts">
    <header>
      <h4>Nutrition Facts</h4>
    </header>

      <div class="nutrition-row separator-small">
          <div class="left">
            <span section="nutrition" formfield="serving_size_value"></span>
          </div>
          <div class="right">
            <span section="nutrition" formfield="serving_size_uom"></span>
          </div>
      </div>

      <div class="nutrition-row full">
          <div section="nutrition" formfield="servings_per_cont_value"></div>
      </div>

      <div class="nutrition-row full">
          <div section="nutrition" formfield="serving_size_string"></div>
      </div>

      <div class="nutrition-row separator-large full">
          <div class="label-bold">Amount Per Serving</div>
      </div>

      <div class="nutrition-row calories">
        <div section="nutrition" formfield="calories_value"></div>
        <div section="nutrition" formfield="calories_from_fat_value"></div>
      </div>

      <div class="nutrition-row separator-medium">
          <div class="label-bold daily-value-heading">% Daily Value</div>
      </div>

      <div class="nutrition-row separator-small full">
          <div section="nutrition" formfield="total_fat_value"></div>
      </div>

      <div class="nutrition-row separator-small indent full">
          <div section="nutrition" formfield="saturated_fat_value"></div>
      </div>

      <div class="nutrition-row separator-small indent full">
          <div section="nutrition" formfield="trans_fat_value"></div>
      </div>

      <div class="nutrition-row separator-small indent full">
          <div section="nutrition" formfield="polyunsat_fat_value"></div>
      </div>

      <div class="nutrition-row separator-small indent full">
          <div section="nutrition" formfield="monounsat_fat_value"></div>
      </div>

      <div class="nutrition-row separator-small full">
          <div section="nutrition" formfield="cholesterol_value"></div>
      </div>

      <div class="nutrition-row separator-small full">
          <div section="nutrition" formfield="sodium_value"></div>
      </div>

      <div class="nutrition-row separator-small full">
          <div section="nutrition" formfield="potassium_value"></div>
      </div>

      <div class="nutrition-row separator-small full">
          <div section="nutrition" formfield="total_carbohydrate_value"></div>
      </div>

      <div class="nutrition-row separator-small indent full">
          <div section="nutrition" formfield="dietary_fiber_value"></div>
      </div>

      <div class="nutrition-row separator-small indent full">
          <div section="nutrition" formfield="soluble_fiber_value"></div>
      </div>

      <div class="nutrition-row separator-small indent full">
          <div section="nutrition" formfield="insoluble_fiber_value"></div>
      </div>

      <div class="nutrition-row separator-small indent full">
        <div section="nutrition" formfield="net_carbohydrate_value"></div>
      </div>

      <div class="nutrition-row separator-small indent full">
        <div section="nutrition" formfield="sugar_value"></div>
      </div>

      <div class="nutrition-row separator-small indent full">
        <div section="nutrition" formfield="added_sugars_value"></div>
      </div>

      <div class="nutrition-row separator-small full">
          <div section="nutrition" formfield="protein_value"></div>
      </div>

      <div class="nutrition-row separator-large vitamin">
          <div section="nutrition" class="left" formfield="vitamin_a_value"></div>
          <div section="nutrition" class="right" formfield="vitamin_c_value"></div>
      </div>

      <div class="nutrition-row separator-small vitamin">
        <div section="nutrition" class="left" formfield="calcium_value"></div>
          <div section="nutrition" class="right" formfield="iron_value"></div>
      </div>

      <div class="nutrition-row separator-large vitamin">
          <div section="nutrition" class="left" formfield="vitamin_d_value"></div>
          <div section="nutrition" class="right" formfield="vitamin_e_value"></div>
      </div>

      <div class="nutrition-row separator-small full">
          <div section="nutrition" class="left" formfield="vitamin_k_value"></div>
          <div section="nutrition" class="right" formfield="thiamin_value"></div>
      </div>

      <div class="nutrition-row separator-small full">
          <div section="nutrition" class="left" formfield="riboflavin_value"></div>
          <div section="nutrition" class="right" formfield="niacin_value"></div>
      </div>

      <div class="nutrition-row separator-small full">
          <div section="nutrition" class="left" formfield="vitamin_b6_value"></div>
          <div section="nutrition" class="right" formfield="folate_value"></div>
      </div>

      <div class="nutrition-row separator-small full">
          <div section="nutrition" class="left" formfield="vitamin_b12_value"></div>
          <div section="nutrition" class="right" formfield="biotin_value"></div>
      </div>

      <div class="nutrition-row separator-small full">
          <div section="nutrition" class="left" formfield="pantothenic_acid_value"></div>
          <div section="nutrition" class="right" formfield="phosphorous_value"></div>
      </div>

      <div class="nutrition-row separator-small full">
          <div section="nutrition" class="left" formfield="iodine_value"></div>
          <div section="nutrition" class="right" formfield="magnesium_value"></div>
      </div>

      <div class="nutrition-row separator-small full">
          <div section="nutrition" class="left" formfield="zinc_value"></div>
          <div section="nutrition" class="right" formfield="selenium_value"></div>
      </div>

      <div class="nutrition-row separator-small full">
          <div section="nutrition" class="left" formfield="copper_value"></div>
          <div section="nutrition" class="right" formfield="manganese_value"></div>
      </div>

      <div class="nutrition-row separator-small full">
          <div section="nutrition" class="left" formfield="chromium_value"></div>
          <div section="nutrition" class="right" formfield="molybdenum_value"></div>
      </div>

      <div class="nutrition-row separator-small full">
          <div section="nutrition" class="left" formfield="chloride_value"></div>
          <div section="nutrition" class="right" formfield="juice_percent"></div>
      </div>
  </section>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
