<div class="detail-main attributes-detail columns twelve">
    <h2>Product Info & Attributes</h2>
    <div class="detail-data">
        <div section="product-info-and-attrib" formfield="ingredients_print"></div>
        <div section="product-info-and-attrib" formfield="ingredients"></div>
        <div section="product-info-and-attrib" formfield="major_allergen_attributes"></div>
        <div section="product-info-and-attrib" formfield="secondary_allergen_attr"></div>
        <div section="product-info-and-attrib" formfield="gluten_attributes"></div>
        <div section="product-info-and-attrib" formfield="free_of_attributes"></div>
        <div section="product-info-and-attrib" formfield="processing_attributes"></div>
        <div section="product-info-and-attrib" formfield="allergens_in_facility"></div>
        <div section="product-info-and-attrib" formfield="veg_attributes"></div>
        <div section="product-info-and-attrib" formfield="organic_attributes"></div>
        <div section="product-info-and-attrib" formfield="omega3_value"></div>
        <div section="product-info-and-attrib" formfield="whole_grain_per_serving"></div>
        <div section="product-info-and-attrib" formfield="ethnic_attributes"></div>
        <div section="product-info-and-attrib" formfield="sweetener_attributes"></div>
        <div section="product-info-and-attrib" formfield="dietary_preference"></div>
        <div section="product-info-and-attrib" formfield="salt_content_attributes"></div>
        <div section="product-info-and-attrib" formfield="country_of_origin"></div>
        <div section="product-info-and-attrib" formfield="state_of_origin"></div>
        <div section="product-info-and-attrib" formfield="additional_origin"></div>
        <div section="product-info-and-attrib" formfield="kosher_daily"></div>
        <div section="product-info-and-attrib" formfield="kosher_mbuf"></div>
        <div section="product-info-and-attrib" formfield="kosher_passover"></div>
        <div section="product-info-and-attrib" formfield="kosher_pareve"></div>
    </div>
</div>
