<div class="detail-main product-detail columns twelve">
    <h2>Supplier Portal Select Fields</h2>
    <div class="detail-data">
        <div section="sp-select-fields" formfield="paperb_recycle_percent"></div>
        <div section="sp-select-fields" formfield="beverage_container"></div>
        <div section="sp-select-fields" formfield="chicago_water_tax"></div>
        <div section="sp-select-fields" formfield="baltimore_beverage_tax"></div>
        <div section="sp-select-fields" formfield="berkeley_beverage_tax"></div>
        <div section="sp-select-fields" formfield="bottle_color"></div>
        <div section="sp-select-fields" formfield="container_type"></div>
        <div section="sp-select-fields" formfield="product_labels"></div>
    </div>
</div>
