.view-display-id-rcm_items_glossary {
  .item-list ul li {
    float: left;
    margin: 0;
    margin: $spacing-xsmall;
    color: $g400;
  }
}

.view-display-id-rcm_hierarchy_unassigned_glossary {
  .item-list ul li {
    float: left;
    margin: 0;
    margin: $spacing-xsmall;
    color: $g400;
  }
}
